/* styles so the footer will be sticky */
html {
    position: relative;
    min-height: 100%;
}

/* some style for the sticky footer, also includes the background image */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("../images/yellow.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* style for the sticky footer */
main {
    flex: 1 0 auto;
  }

/* style for the header at the top */
section {
      background: rgba(209, 164, 39, 0.657);
      text-align: center;
      font-family: 'Satisfy', cursive;
      box-shadow: 2px 2px 4px #000000;
      text-shadow: 2px 2px 4px #000000;
      overflow: auto;
      color: white;
  }

.container {
    margin-top: 20px;
}

/* style for the picture on the about page */
.aboutpic { 
    float: right;
    padding: 5px 20px 10px 5px;
    border-radius: 40px;
}


  /* style for each container */
.row {
    background: rgba(62, 90, 74, 0.767);
    color: rgb(209, 164, 39);
}

.projects {
    padding: 20px;
}


/* font size and padding for p tags */
p {
    font-size: 18px;
    padding-left: 20px;
}

/* style for the h4 and h5 tags */
h4, h5 {
    color: white;
    padding-left: 20px;
    font-family: 'Satisfy', cursive;
    text-shadow: 2px 2px 4px #000000;
}

/* style for the sticky footer */
.page-footer {
    background: rgba(62, 90, 74, 0.767);
    color: black;
    padding-bottom: 10px;
    margin-top: 10px;
}

/* style for link colors */
.link:link {
    color: rgb(54, 15, 87);
  } 

  /* visited link */
  .link:visited {
    color: rgba(24,34,35);
  }
  
  /* mouse over link */
  .link:hover {
    color: rgb(209,164,39);
  }
  
  /* selected link */
  .link:active {
    color: rgb(238, 227, 227);
  } 

/* style for the cards */

.card {
    background-color: rgb(24, 34, 35);
}

/* style to change the color of the links in the cards */
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: rgb(249, 249, 249);
}

/* style for card title */
.card-title {
    background-color: rgba(24, 34, 35, 0.548);
}
  
@media (max-width: 990px) {
    .resizeimg {
      height: auto;
    }
  }
  
  @media (min-width: 1000px) {
    .resizeimg {
      width: auto;
      height: 350px;
    }
  }

.email {
    float: left;
}

.linkedin {
    float: left;
}

.github {
    float: left;
}

.phone {
    float: left;
}